
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background: #fefcf6;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.navbar {
    width: 100%;
    height: 75px;
    background-color: #162a2c;
    display: flex;
    align-items: center;
    padding: 0 20px;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
    align-items: center;
    color: #fefcf6;
    font-size: 35px;
    font-family: Arial;
    float: left;
    padding: 0px 0px 20px 20px;
    margin-top: 5px
}


.menu ul {
    list-style: none;
    display: flex;
}

.menu ul li {
    margin: 0 15px;
    color: #fefcf6;
    font-weight: bold;
    transition: color 0.3s;

}


.menu ul li:hover {
    color: #ffe657;
}

.menu ul a {
    text-decoration: none;
}

.exam-container {
    background: #f4efe6;
    border-radius: 12px;
    padding: 40px;
    width: 60%;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    margin: 40px 0;
}

.exam-title {
    font-size: 28px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 10px;
    text-align: center;
}

.exam-date {
    font-size: 18px;
    color: #666666;
    margin-bottom: 30px;
    text-align: center;
}

.question {
    margin-bottom: 30px;
}

.question-text {
    font-size: 18px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 15px;
}

ol {
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}

textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 8px;
    resize: none;
    outline: none;
}

button {
    display: inline-block;
    background: #162a2c;
    color: #f4efe6;
    border: none;
    padding: 10px 20px;
    margin-right: 20px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.3s;
}

button:hover {
    background: #fefcf6;
    transform: scale(1.05);
    color: #162a2c;
}

input[type="radio"] {
    margin-right: 10px;
}

label {
    font-size: 16px;
    color: #333333;
}

#open {
    margin-left: auto;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 50%;
}




.prof {
    top: 2px;
    left: 0px;
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);

}

.prof-content {
    background-color: #f4efe6;
    margin: 3% auto;
    padding: 40px;
    border-radius: 8px;
    width: 40%;
    position: relative;
}

.photo-edit {
    position: relative;
    display: inline-block;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

#profilePhoto {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    
    object-fit: cover;
    border: 2px solid #ccc;
    text-align: center;

}

.edit-photo-icon {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: #162a2c;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
}

.edit-photo-icon:hover {
    background-color: #f4efe6;
    color: #162a2c;
}

#photoUpload {
    display: none;
}

.label {
    font-weight: bold;
}

#nameInput,
#mailInput,
#roleInput,
#passwordInput {
    display: block;
    background-color: #fefcf6;
    margin: 5px -5px 15px;
    width: 100%;
    padding: 15px;
    font-size: 16px;
    border: 1px;
    border-radius: 4px;
}

.prof-footer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
#cancelButton
{
    background: #fefcf6;
    color: #162a2c;

    
}
#cancelButton:hover
{
    background: #162a2c;
    color: #f4efe6;

    
}





.close {
    position: absolute;
    top: 15px;
    right: 20px;
    width: 18px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;

}

.close:hover {
    background-color: #162a2c;
}

#editt {
    margin-left: 95%;
}

.edit-icon {
    position: absolute;
    right: 10px;
    top: 60%;
    transform: translateY(-50%);
    font-size: 18px;
    color: rgb(1, 50, 80);
    cursor: pointer;
    transition: color 0.3s ease;
}

.edit-icon:hover {
    color: black;
}